 <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
         <div class="ui hidden transition information">
          <h1 class="ui inverted header">
            Lab-321 Online Test
          </h1>
          <div class="large basic inverted animated fade ui button">
            <div class="visible content">Join!</div>
            <div class="hidden content">Register</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column">
            <div class="ui icon header">
              <i class="lab icon"></i>
              在线实验
            </div>
            <p>An apple a day keeps the doctor away.</p>
            <p>
              <a class="ui button" href="#">
              开始
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="crosshairs icon"></i>
              APA6
            </div>
            <p>Dig through our cat library to found out amazing things you can do with your kitty.</p>
            <p>
              <a class="ui blue right labeled icon button" href="/apa">
                Try it !
                <i class="right chevron icon"></i>
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="bug icon"></i>
              反馈
            </div>
            <p>Get feedback on your cat from a community of loving pet owners on our online bulletin board system.</p>
            <p>
              <a class="ui button" href="#">
              提交
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="ui vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="row">
        <div class="column">
          <h1 class="ui header">
            Many Companies Rely on Our Cat Knowledge
          </h1>
          <div class="ui horizontal divider"><i class="heart icon"></i></div>
        </div>
      </div>
      <div class="four column logo row">
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="active side">
                <i class="huge github icon"></i>
              </div>
              <div class="side">
                <i class="huge facebook icon"></i>
              </div>
              <div class="side">
                <i class="huge maxcdn icon"></i>
              </div>
              <div class="side">
                <i class="huge pinterest icon"></i>
              </div>
              <div class="side">
                <i class="huge weibo icon"></i>
              </div>
              <div class="side">
                <i class="huge flickr icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge github icon"></i>
              </div>
              <div class="side">
                <i class="huge facebook icon"></i>
              </div>
              <div class="active side">
                <i class="huge maxcdn icon"></i>
              </div>
              <div class="side">
                <i class="huge pinterest icon"></i>
              </div>
              <div class="side">
                <i class="huge weibo icon"></i>
              </div>
              <div class="side">
                <i class="huge flickr icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge github icon"></i>
              </div>
              <div class="side">
                <i class="huge facebook icon"></i>
              </div>
              <div class="side">
                <i class="huge maxcdn icon"></i>
              </div>
              <div class="side">
                <i class="huge pinterest icon"></i>
              </div>
              <div class="active side">
                <i class="huge weibo icon"></i>
              </div>
              <div class="side">
                <i class="huge flickr icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge github icon"></i>
              </div>
              <div class="side">
                <i class="huge facebook icon"></i>
              </div>
              <div class="side">
                <i class="huge maxcdn icon"></i>
              </div>
              <div class="side">
                <i class="huge pinterest icon"></i>
              </div>
              <div class="side">
                <i class="huge weibo icon"></i>
              </div>
              <div class="active side">
                <i class="huge flickr icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  <div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="ten wide column">
        <div class="ui three column center aligned stackable grid">
          <div class="column">
            <h5 class="ui inverted header">Experiments</h5>
            <div class="ui inverted link list">
              <a class="item">Registration</a>
              <a class="item">Course Calendar</a>
              <a class="item">Professors</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">Library</h5>
            <div class="ui inverted link list">
              <a class="item">A-Z</a>
              <a class="item">Most Popular</a>
              <a class="item">Recently Changed</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">Community</h5>
            <div class="ui inverted link list">
              <a class="item">BBS</a>
              <a class="item">Careers</a>
              <a class="item">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
<!--
      <div class="six wide column">
        <h5 class="ui inverted header">Contact Us</h5>
        <addr>
          237 Catberry Road <br>
          Milton Keynes, London <br>
        </addr>
        <p>(404) 867-5309</p>
      </div>
-->
    </div>
  </div>
