@font-face {
  font-family: Bookerly;
  src: url("http://taobaocdn.file.alimmdn.com/Bookerly-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Bookerly;
  src: url("http://taobaocdn.file.alimmdn.com/Bookerly-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Bookerly;
  src: url("http://taobaocdn.file.alimmdn.com/Bookerly-RegularItalic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: Bookerly;
  src: url("http://taobaocdn.file.alimmdn.com/Bookerly-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
body {
  min-width: 300px;
  font-family: Bookerly, 'Hiragino Sans GB', Helvetica, Arial, 'STHeiti', 'WenQuanYi Micro Hei', sans-serif;
  color: #333;
}
a {
  color: inherit;
}
.icons {
  font-size:26px;font-style:normal;
  cursor: pointer;
  -webkit-transition: font-size 0.15s ease-out 0s;
  -moz-transition: font-size 0.15s ease-out 0s;
  transition: font-size 0.15s ease-out 0s;
}
.icons:hover {
  font-size: 36px;
}
div.iconwrapper {
  height: 60px;
  line-height: 55px;
}
ul#emoji-wrapper, ul#emoji-counter{
  list-style: none outside none; margin:0; padding: 0; text-align:center;
}
ul#emoji-counter {
  margin-top: 8px;
}
li.emoji-container, li.emoji-counter {
  display: inline;
  margin: 0 10px;
}
img.emoji {
  width: 40px;
  cursor: pointer;
  margin-top: 120px;
  -webkit-transition: width 0.1s ease-out 0s;
  -moz-transition: width 0.1s ease-out 0s;
  transition: width 0.1s ease-out 0s;
}
img.emoji:hover {
  width: 45px;
}
span.am-badge {
  width: 40px;
  cursor: pointer;
}
img.qrcode {
  width: 250px;
}
div#topnav {
  height: 250px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
img#avatar {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #333;
}
li.gallery {
  text-align: center;
}
#footer {
  color: #888;
  font-style: italic;
  font-weight: 900;
  font-size: 0.8em;
}
#disqus_thread {
  width: 80%;
  margin: 45px auto;
}
.clear {
  clear: both;
}
