/* Write your styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
@font-face {
  font-family:'OpenSans';
    src:url('../fonts/OpenSans-Bold.eot');
    src:url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight:700;
  font-style:normal;
  }
@font-face {
  font-family:'OpenSans';
    src:url('../fonts/OpenSans-Regular.eot');
    src:url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight:400;
  font-style:normal;
}
html,
body,
textarea,
button,
input {
  font:16px/20px 'OpenSans', sans-serif;
}
ol, ul { list-style:none;  }
html, body {
  background:#fff;
  color:#516066;
  -webkit-font-smoothing:antialiased;
  }

@media only screen and (min-width: 641px) {
      .am-offcanvas {
        display: block;
        position: static;
        background: none;
      }

      .am-offcanvas-bar {
        position: static;
        width: auto;
        background: none;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      .am-offcanvas-bar:after {
        content: none;
      }

    }
    
@media only screen and (max-width: 640px) {
      .am-offcanvas-bar .am-nav>li>a {
        color:#ccc;
        border-radius: 0;
        border-top: 1px solid rgba(0,0,0,.3);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.05)
      }

      .am-offcanvas-bar .am-nav>li>a:hover {
        background: #404040;
        color: #fff
      }

      .am-offcanvas-bar .am-nav>li.am-nav-header {
        color: #777;
        background: #404040;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        border-top: 1px solid rgba(0,0,0,.3);
        font-weight: 400;
        font-size: 75%
      }

      .am-offcanvas-bar .am-nav>li.am-active>a {
        background: #1a1a1a;
        color: #fff;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
      }

      .am-offcanvas-bar .am-nav>li+li {
        margin-top: 0;
      }
    }

.my-head {
  margin-top: 40px;
  text-align: center;
}

.my-button {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0;
}
.my-sidebar {
  padding-right: 0;
  border-right: 1px solid #eeeeee;
}

.my-footer {
  border-top: 1px solid #eeeeee;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
}
.avatar {
    width: 100px;
    height: 100px;
    border: 4px solid #eee;
    border-radius: 80px;
}
.entry-content h1 {
  font-size:26px;
  margin:15px 0;
  line-height: 26px;
  }

.entry-content h2 {
  font-size:22px;
  font-weight:700;
  margin:0 0 15px;
  padding:0;
  }

.entry-content h3 {
  font-size:16px;
  font-weight:700;
  margin:10px 0 5px;
  }

.entry-content h4,
.entry-content h5,
.entry-content h6 {
  font-size:14px;
  font-weight:700;
  margin:10px 0 5px;
  }
.am-list-item-text p,
.entry-content p,
.entry-content span,
.entry-content ul,
.entry-content ol,
.entry-content li {
  font-size:16px;
	line-height:1.5em;
  }
.entry-content ol,
.entry-content ul {
  margin:0 0 15px 30px;
  }
.entry-content ol {
  list-style:decimal;
  }
.entry-content ul {
  list-style:disc;
  }
.entry-content blockquote {
	padding-left:19px;
  border-left:1px solid #a8afb2;
  font-style:italic;
  margin-bottom:20px;
  }
.entry-content p {
  margin-bottom:15px;
  }
.am-breadcrumb,.am-article-meta {
  font-size: 100%;
}
div.end-article {
    text-align: right;
    padding: 20px;
    color: #db5e63;
    font-weight: 900;
    font-style: oblique;
}
div.neighbors > ul.pager > li.prev {
    float: left;
}

div.neighbors > ul.pager > li.next {
    float: right;
}
footer#contentinfo {
    margin-top: 240px;
    color: #aaa;
    text-align: center;
    font-size: 14px;
}
.paginator {
    text-align: center;
    margin-top: 120px;
}
ol#post-list {
    padding: 4px;
}
li.article-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    padding-top: 15px;
}
.published {
    margin-top: 7px;
    margin-bottom: 5px;
    color: #bbb;
}
